.form-group,
fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.inline {
    flex-direction: row;
    flex-wrap: wrap;
}

.inline .form-label,
.inline fieldset {
    flex:1 0 100%;
}

.form-group .form-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-control {
  padding: 10px 5px;
  box-shadow: 0 -1px 0px 0px  rgba(0, 0, 0, 0.2) inset;
  border: none;
}

input.form-control[type="radio"],
input.form-control[type="checkbox"] {
    padding: 10px;
    box-shadow: none;
    cursor: pointer;
}

.form-group.invalid .form-label{
    color: red
}

.form-group.invalid .form-control{
    box-shadow: 0 -1px 0px 0px  red inset;
}

.btn {
    padding: 10px 15px;
    background: #7676ff;
    box-shadow: 1px 1px 1px 0px  rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    color:#ffffff;
    font-weight: 600;
    font-size: 16px;
}

.validation-message {
    display: none;
    color: red;
    margin: 3px;
    font-size: 12px;
}

.form-group.invalid .validation-message {
    display: block;
}
